{% extends 'base.html' %}

{% load static %}
{% block content %}
{% load cart %}
{% load custom_filter %}


<br>
{#    <section  class="toppbar ">#}
{#			<div class="miid">#}
{#				<div class="midright">#}
{#					<div class="midright_mid">#}
{##}
{#				       <form class="example" action="" method="POST">#}
{#                           {% csrf_token %}#}
{#				         <input type="text" placeholder="Search in daraz" name="search">#}
{#				         <button type="submit"><i class="fa fa-search"></i></button>#}
{#				       </form>#}
{##}
{##}
{#			        </div>#}
{##}
{#			    </div>#}
{##}
{##}
{#			</div>#}
{#    </section>#}
{#    <br>#}
		<div class="col-lg-2 mx-auto pull-left">
			<div class="list-group">

                <button style="background-color: #2abbe8" class="btn btn-white dropdown-toggle" type="button" data-toggle="dropdown"><h4 style="color: #0b2e13">Catagories</h4></button>

				{% for cat in request.session.cats %}
				<a style="background-color: #d4edda" href="/home/{{cat.id}}"
                   class="list-group-item list-group-item-action"><h6 style="color: #0b2e13">{{cat.name}}</h6></a>
				{% endfor %}
			</div>
		</div>

<div class="container " style="font-variant-caps: normal">

   <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4" style="font-family: 'Arial Black';color: #0b2e13">Your Cart</p>
{#        <hr>#}
        <table class="table">
            <thead>
                <tr>
                    <th style="color: black">Sno.</th>
                    <th></th>
                    <th style="color: black">Product</th>
                    <th style="color: black">Price</th>
                    <th style="color: black">Quantity</th>
                    <th style="color: black">Total</th>
                </tr>
            </thead>
            <tbody>
                
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-top" src="{% static product.product_img %}" alt="image"></td>
                    <td style="color: #0b2e13">{{product.name}}</td>
                    <td style="font-family:'Cooper Black';color: #0b2e13">{{product.price|currency}}</td>
                    <td style="font-family: 'Arial Black'">
                        <form class="col-6 " method="POST">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input hidden type="text" name='remove' value='True'>
                            <button style="background-color: #ff5722" type="submit"  class="btn"><h1>---</h1></button>
                        </form>
                        <p style="color: black;font-family: 'Arial Black'">{{product.quantity}}</p>
                        <form class="col-6 " method="POST">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>

								<input style="background-color: #2abbe8" type="submit" value=" + " class="btn">
                        </form>
                    </td>
                    <td style="font-family: 'Arial Black';color: #0b2e13">{{product.price_total|currency}}</td>
{#                 <td>{{product.name}}</td>#}
{#                    <td>{{product.price|currency}}</td>#}
{#                    <td>{{product|cart_quantity:request.session.cart}}</td>#}
{#                    <td>{{product|price_total:request.session.cart|currency}}</td>#}
                </tr>

                {% endfor %}
               
            </tbody>

            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th class="" style="color: #0b2e13" colspan="">Total</th>
                    <th style="font-family: 'Arial Black';color: #0b2e13">{{total|currency}}</th>
{#                    <th>{{products|total_cart_price:request.session.cart|currency}}</th>#}
                </tr>
            </tfoot>
        </table>

        <div class="m-3 p-3">
            <button class="btn1" style="background-color: #2abbe8"  ><a href="/home/place_your_order"><h4 style="color: #0b2e13">Proceed to Check out</h4></a></button>
        </div>
   </div>
</div>


<!-- modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              Check Out Form
          </h5>
          <hr>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">

                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>

                  <input style="background-color: #ff5722" type="submit" class="btn float-right btn-outline-info col-lg-6" value="Check out">
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>



{% endblock %}