{% extends 'base.html' %}
{% load cart %}
{% load custom_filter %}
{% load static %}
{% block content %}



<nav class="one-edge-shadow

  navbar-expand-lg
   navbar-light bg-white">
<div class="container-fluid mt-3">
{#<section  class="toppbar ">#}
{#			<div class="miid">#}
{#				<div class="midright">#}
{#					<div class="midright_mid">#}
{##}
{#				       <form class="example" action="" method="POST">#}
{#                           {% csrf_token %}#}
{#				         <input type="text" placeholder="Search in daraz" name="search">#}
{#				         <button type="submit"><i class="fa fa-search"></i></button>#}
{#				       </form>#}
{##}
{##}
{#			        </div>#}
{##}
{#			    </div>#}
{##}
{##}
{#			</div>#}
{##}
{# 	</section>#}
</div>
</nav>
<br>
<br>
<div class="lzd-playground mt-3">



		<!-- filter -->



		<div class="col-lg-2 mx-auto pull-left">
			<div class="list-group">

                <button style="background-color: #2abbe8" class="btn btn-white dropdown-toggle" type="button" data-toggle="dropdown"><h4 style="color: #0b2e13">Catagories</h4></button>

				{% for cat in request.session.cats %}
				<a style="background-color: #d4edda" href="/home/{{cat.id}}"
                   class="list-group-item list-group-item-action"><h6 style="color: #0b2e13">{{cat.name}}</h6></a>
				{% endfor %}
			</div>
		</div>

<div class="row">
<div class="">
<div class="">
    <div class="">
        <div class=""></div>
        <div id="container" class=""><div><div class="root">
            <div id="container_10008" class="" style="margin-top: 12px;">
                <div id="leftContainer_10009" class="" style="width: 1000px;height: 800px; float: left;">
                    <div id="listHeader_1" class="list-header">
                        <span style="font-family: 'Arial';color: #0b2e13" class="list-header-left">{{ request.session.pack }} items</span>
                        <span style="font-family: 'Arial';color: #0b2e13" class="list-header-middle ">PRICE</span>
                        <span style="font-family: 'Arial';color: #0b2e13" class="list-header-right pull-right">QUANTITY</span>
                    </div>

                    <div class="package">
                        <div class=""><div class="package-title-left">
                            <span class="package-title-name">Package: {{ request.session.pack }} of  {{ request.session.pack }} </span>
                        </div>
                            <div class="package-title-right">
                                <span class="package-title-tips">Shipping by <h4 style="font-family: 'Rage Italic';font-size:20px;color: #0b2e13">Pathao</h4> </span>
{#                                <span class="package-title-brand" style="font-family: 'Arial Black'">{{product.shop }}</span>#}
                            </div>
                        </div>
                        <div class="delivery-option">
                            <div>
                                <div class="delivery-option-body">
                                    <div class="delivery-slider">
                                        <p class="delivery-slider-title">Delivery Option</p>
                                        <div class="delivery-slider-wrap without-arrow">
                                            <div class="next-slick next-slick-outer next-slick-horizontal">
                                                <div draggable="false" class="next-slick-inner next-slick-initialized">
                                                    <div class="next-slick-list">
                                                        <div class="next-slick-track" style="opacity: 1; width: 1782.65px; transform: translate3d(0px, 0px, 0px);">
                                                            <div class="next-slick-slide next-slick-active delivery-item" data-index="0" tabindex="-1" style="outline: none; width: 254.664px;">
                                                                <div class="delivery-item-inner delivery-item-selected">
                                                                    <div class="delivery-item-top">
                                                                        <div class="delivery-item-content">
                                                                            <div class="delivery-item-first-line">
                                                                                <span class="lazada lazada-ic-sucess lazada-icon delivery-item-icon delivery-item-selected-icon">

                                                                                </span>
                                                                                <div class="delivery-item-price"><span style="font-family: 'Times New Roman'" class="delivery-item-current-price">৳ {{fee}}</span>
                                                                                    <span class="delivery-item-origin-price"></span>
                                                                                </div>
                                                                            </div>
                                                                            <p class="delivery-item-name-wrap"><span class="delivery-item-name">Home Delivery</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="delivery-item-bottom delivery-item-bottom-no-schedule-selected-nlu" data-spm="confirm"><p class="delivery-item-time">Est. Arrival: 7-10 Dec</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for product in products %}
                        <div style="padding-left: 10px; padding-right: 10px;">
                            <div id="item_98deb08127915f78ebd73dfdbbca2ab1" class="cart-item">
                                <div class="cart-item-inner">
                                    <div class="cart-item-left">
                                        <div class="img-wrap">
                                            <a href="#" class="automation-link-from-image-to-prod">
                                                <img class="img" src="{% static product.product_img %}" alt="item"></a>
                                        </div>
                                        <div class="content">
                                            <a  href="#" class="automation-link-from-title-to-prod title">
                                                {{ product.name}}</a>
                                            <a  href="#" class="automation-link-from-sub-title-to-prod sku">
                                                {{product.shop}}</a>
                                        </div>
                                    </div>
                                    <div class="cart-item-middle">
                                        <p style="font-family: 'Times New Roman'" class="current-price">{{product.price |currency}}</p>
{#                                        <p class="origin-price">৳ 650</p>#}
{#                                        <p class="promotion-ratio">-31%</p>#}
                                        <div class="operations">
                                            <span class="automation-btn-delete">
                                                <span class="lazada lazada-ic-Delete lazada-icon icon delete">

                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="cart-item-right">
                                        <div class="quantity automation-item-quantity">
                                            <span class="item-quantity-prefix">Qty: </span>
                                            <span class="item-quantity-value">{{ product.quantity }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="rightContainer_10010" class="container pull-right" style="width: 388px; float: right;">

                    <div id="toPayBtn_10021" class="to-pay-btn clearfix">
                        <button href="/home/payment" type="button" style="background-color: #ff5722" class="btn1">
                            <a style="color: #0b2e13" href="/home/payment">Proceed to Pay</a></button></div><div class="checkout-address">
                    <div class="checkout-address-inner ">
                        <div>
                            <p class="address-hat">Shipping &amp; Billing</p>
                            <div class="address-title-container">
                                <span class="lazada lazada-ic-checkout-address lazada-icon address-icon">

                                </span><span class="address-title">{{ request.session.name }}</span>
{#                    <a href="###" class="address-edit automation-address-edit">EDIT</a>#}
                </div>
                </div>
                    <div class="address-info-item address-value">
                        <span class="address-tag-label" style="background-image: linear-gradient(-143deg, rgb(255, 123, 83) 0%, rgb(255, 75, 40) 100%);">HOME</span>
                        <span>{{ request.session.address}}</span>
                    </div>
                        <div class="checkout-address-cp">
                            <div class="checkout-address-cp-view">
                                <div class="checkout-address-cp-header">
                                    <div class="checkout-address-cp-text">Free delivery on collecting your order from Daraz Pick-up Point</div>
                                    <span class="lazada lazada-arrow lazada-icon checkout-address-cp-icon">

                                    </span>
                                </div>
                                <div class="checkout-address-cp-footer">
                                    <div class="checkout-address-cp-text-sug">12 suggested collection point(s) nearby
                                    </div>
                                    <div>
                                        <span class="lazada lazada-toolpit lazada-icon checkout-address-cp-icon">

                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="checkout-simple-address">
                        <div class="checkout-simple-address-inner">
                            <span class="lazada lazada-ic-checkout-bill lazada-icon address-icon"></span>
                            <span class="checkout-simple-address-title" style="font-family: 'Arial Black'" >Billing Address: <h5 style="color: #ff5722" >{{ request.session.deliveryat}}</h5></span>
                            <a  style="color: white;background-color: black" href="/home/profile/edit_baddress" class="address-edit automation-address-edit">EDIT</a>
                        </div>
                    </div>
                    <div id="textEdit_11002" class="input-field-label">
                        <div class="input-field-label-inner clearfix">
                            <div class="input-field-item-wrapper">
                                <div class="input-field-item">
                                    <span class="lazada lazada-ic-checkout-phone lazada-icon address-icon"></span>
                                    <span class="input-field-item-value">{{ request.session.contact }}</span>
                                </div>
                            </div>
{#                            <a href="#" class="input-field-edit">EDIT</a>#}
                        </div>
                    </div>
                    <div id="textEdit_11001" class="input-field-label">
                        <div class="input-field-label-inner clearfix">
                            <div class="input-field-item-wrapper">
                                <div class="input-field-item">
                                    <span class="lazada lazada-ic-checkout-email lazada-icon address-icon"></span>
                                    <span class="input-field-item-value">{{ request.session.email}}</span>
                                </div>
                            </div>
{#                            <a class="input-field-edit">EDIT</a>#}
                        </div>
                    </div>
                    <div class="summary-section">
                        <div class="summary-section-heading">Order Summary
                        </div>
                        <div class="summary-section-content">
                            <div class="  checkout-summary">
                                <div class="checkout-summary-rows">
                                    <div class="checkout-summary-row">
                                        <div class="checkout-summary-main">
                                            <div style="font-family: 'Arial Black';color: #0b2e13" class="checkout-summary-label">Subtotal ({{ total_count}})
                                            </div>
                                            <div class="checkout-summary-value">
                                                <span style="font-family: 'Arial Black'" class="checkout-summary-noline-value"> {{total|currency}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkout-summary-row">
                                        <div class="checkout-summary-main">
                                            <div class="checkout-summary-label">Shipping Fee Per Package
                                            </div>
                                            <div class="checkout-summary-value">
                                                <span style="font-family: Arial" class="checkout-summary-noline-value">BDT 65</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkout-summary-row">
                                        <div class="checkout-summary-main">
                                            <div class="checkout-summary-label">Total Shipping Fee
                                            </div>
                                            <div class="checkout-summary-value">
                                                <span style="font-family: 'Arial Black'" class="checkout-summary-noline-value">{{ fee|currency}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
{#                                <div class="voucher-input">#}
{#                                    <div class="voucher-input-inner">#}
{#                                        <div class="voucher-input-col">#}
{#                                            <span class="next-input next-input-single next-input-medium clear voucher-input-control">#}
{#                                                <input type="text" id="automation-voucher-input" placeholder="Enter Voucher Code" value="" height="100%"></span>#}
{#                                        </div>#}
{#                                        <div class="voucher-input-col">#}
{#                                            <button id="automation-voucher-input-button" type="button" class="next-btn next-btn-normal next-btn-large voucher-input-button">APPLY</button>#}
{#                                        </div></div></div>#}
                                <div class=" checkout-order-total">
                                <div class="checkout-order-total-row">
                                    <div style="color: #0b2e13" class="checkout-order-total-title">Total:
                                    </div>
                                    <div style="font-family: 'Arial Black'" class="checkout-order-total-fee">
                                         {{ after_fee |currency }}
                                        <small class="checkout-order-total-fee-tip">
                                            VAT included, where applicable</small>
                                    </div>
                                </div>
                                    <button  style="background-color: #ff5722" type="button" class="btn1"><a style="color: #0b2e13" href="/home/payment">Proceed to Pay</a></button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
</div>
</div>

{#<div class="row">#}
{#    <div class="container ">#}
{#        <div>#}
{#           <div class="page-root">#}
{#               <div class="container" style="margin-top: 12px;";>#}
{#                   <div class="container" style="width: 788px; float:left">#}
{#                       <div id="listHeader_1" class="list-header"><span class="list-header-left">1 items</span><span class="list-header-middle">PRICE</span><span class="list-header-right">QUANTITY</span></div>#}
{#                       <div class="package">#}
{#                           <div class="package-title clearfix">#}
{#                               <div class="package-title-left clearfix">#}
{#                                    <span class="package-title-name">Package  1 of 1</span>#}
{##}
{#                               </div>#}
{#                               <div class="package-header tips">#}
{#                                   <span class="package-title-tips">Shipped by</span>#}
{#                                   <span class="package-title-brand">Rongdhonu Fashion BD</span>#}
{##}
{#                               </div>#}
{##}
{#                           </div>#}
{#                           <div class="delivery-option">#}
{#                               <div>#}
{#                                   <div class="delivery-option-body">#}
{#                                       <div class="delivery-slider">#}
{#                                           <p class="delivery-slider-title">Delivery Option</p>#}
{#                                           <div class="delivery-slider-wrap without-arrow">#}
{#                                               <div class="next-slick next-slick-outer next-slick-horizontal">#}
{#                                                   <div draggable="false" class="next-slick-inner next-slick-initialized">#}
{#                                                       <div class="next-slick-list"><div class="next-slick-track" style="opacity: 1; width: 1782.65px; transform: translate3d(0px, 0px, 0px);">#}
{#                                                           <div class="next-slick-slide next-slick-active delivery-item" data-index="0" tabindex="-1" style="outline: none; width: 254.664px;">#}
{#                                                               <div class="delivery-item-inner delivery-item-selected">#}
{#                                                                   <div class="delivery-item-top"><div class="delivery-item-content">#}
{#                                                                       <div class="delivery-item-first-line">#}
{#                                                                           <span class="lazada lazada-ic-sucess lazada-icon delivery-item-icon delivery-item-selected-icon">#}
{##}
{#                                                                           </span>#}
{#                                                                           <div class="delivery-item-price">#}
{#                                                                               <span class="delivery-item-current-price">৳ 65</span>#}
{#                                                                               <span class="delivery-item-origin-price"></span>#}
{#                                                                           </div>#}
{#                                                                       </div>#}
{#                                                                       <p class="delivery-item-name-wrap">#}
{#                                                                           <span class="delivery-item-name">Home Delivery</span>#}
{#                                                                       </p>#}
{#                                                                   </div>#}
{#                                                                   </div>#}
{#                                                                   <div class="delivery-item-bottom delivery-item-bottom-no-schedule-selected-nlu" data-spm="confirm">#}
{#                                                                       <p class="delivery-item-time">Est. Arrival: 7-10 Dec</p>#}
{#                                                                   </div></div>#}
{#                                                           </div>#}
{#                                                       </div>#}
{#                                                       </div>#}
{#                                                   </div>#}
{#                                               </div>#}
{#                                           </div>#}
{#                                       </div>#}
{##}
{##}
{#                                   </div>#}
{#                               </div>#}
{##}
{#                           </div>#}
{#                           <div style="padding-left: 10px; padding-right: 10px;">#}
{#                              <div class="cart-item">#}
{#                                  <div class="cart-item-inner">#}
{#                                      <div class="cart-item-left">#}
{#                                         <div class="img-wrap"><a href="#" id="automation-link-from-image-to-prod-item_98deb08127915f78ebd73dfdbbca2ab1" class="automation-link-from-image-to-prod"><img class="img" src="https://static-01.daraz.com.bd/p/f729851ff36dd5a5ae1bf0f7b03a28be.jpg" alt="item"></a>#}
{#                                         </div>#}
{#                                          <div class="content"><a id="automation-link-from-title-to-prod-item_98deb08127915f78ebd73dfdbbca2ab1" href="#" class="automation-link-from-title-to-prod title">Stylish Short Sleeve Polo for Men</a>#}
{#                                              <a id="automation-link-from-sub-title-to-prod-item_98deb08127915f78ebd73dfdbbca2ab1" href="#" class="automation-link-from-sub-title-to-prod sku">Rongdhonu Fashion BD, Color Family:Light Ash, Size:Int:L</a>#}
{#                                          </div>#}
{#                       </div>#}
{#                       <div class="cart-item-middle"><p class="current-price">৳ 450</p><p class="origin-price">৳ 650</p><p class="promotion-ratio">-31%</p><div class="operations"><span class="automation-btn-delete"><span class="lazada lazada-ic-Delete lazada-icon icon delete"></span></span></div>#}
{#                       </div>#}
{#                       <div class="cart-item-right"><div class="quantity automation-item-quantity"><span class="item-quantity-prefix">Qty: </span><span class="item-quantity-value">1</span></div>#}
{#                       </div>#}
{#                        <div class="quantity automation-item-quantity"><span class="item-quantity-prefix">Qty: </span><span class="item-quantity-value">1</span>#}
{#                        </div>#}
{##}
{#                   </div>#}
{##}
{#               </div>#}
{#           </div>#}
{#    </div>#}
{#    <div id="rightContainer_10010" class="container" style="width: 388px; float: right;">#}
{#        <div id="toPayBtn_10021" class="to-pay-btn clearfix">#}
{#            <button type="button" class="next-btn next-btn-primary next-btn-large checkout-order-total-button">Proceed to Pay</button>#}
{#        </div>#}
{#        <div class="checkout-address">#}
{#            <div class="checkout-address-inner ">#}
{#                <div><p class="address-hat">Shipping &amp; Billing</p>#}
{#                    <div class="address-title-container">#}
{#                        <span class="lazada lazada-ic-checkout-address lazada-icon address-icon"></span>#}
{#                        <span class="address-title">Arafat</span>#}
{#                        <a href="###" class="address-edit automation-address-edit">EDIT</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="address-info-item address-value">#}
{#                    <span class="address-tag-label" style="background-image: linear-gradient(-143deg, rgb(255, 123, 83) 0%, rgb(255, 75, 40) 100%);">HOME</span>#}
{#                    <span>Polashi,buet campus,Azimpur,Dhaka, Azimpur, Dhaka - South, Dhaka</span>#}
{#                </div><div class="checkout-address-cp">#}
{#                <div class="checkout-address-cp-view">#}
{#                    <div class="checkout-address-cp-header">#}
{#                        <div class="checkout-address-cp-text">#}
{#                            Free delivery on collecting your order from Daraz Pick-up Point#}
{#                        </div>#}
{#                        <span class="lazada lazada-arrow lazada-icon checkout-address-cp-icon"></span>#}
{#                    </div>#}
{#                    <div class="checkout-address-cp-footer">#}
{#                        <div class="checkout-address-cp-text-sug">#}
{#                            12 suggested collection point(s) nearby#}
{#                        </div>#}
{#                        <div>#}
{#                            <span class="lazada lazada-toolpit lazada-icon checkout-address-cp-icon"></span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="checkout-simple-address">#}
{#            <div class="checkout-simple-address-inner" data-spm-anchor-id="a2a0e.shipping.0.i2.51092829XgWLZo">#}
{#                <span class="lazada lazada-ic-checkout-bill lazada-icon address-icon"></span>#}
{#                <span class="checkout-simple-address-title">Bill to the same address</span>#}
{#                <a href="###" class="address-edit automation-address-edit">EDIT</a>#}
{#            </div>#}
{#        </div>#}
{#        <div id="textEdit_11002" class="input-field-label">#}
{#            <div class="input-field-label-inner clearfix">#}
{#                <div class="input-field-item-wrapper">#}
{#                    <div class="input-field-item">#}
{#                        <span class="lazada lazada-ic-checkout-phone lazada-icon address-icon"></span>#}
{#                        <span class="input-field-item-value">1768845536</span>#}
{#                    </div>#}
{#                </div>#}
{#                <a href="#" class="input-field-edit">EDIT</a>#}
{#            </div>#}
{#        </div>#}
{#        <div id="textEdit_11001" class="input-field-label">#}
{#            <div class="input-field-label-inner clearfix">#}
{#                <div class="input-field-item-wrapper">#}
{#                    <div class="input-field-item">#}
{#                        <span class="lazada lazada-ic-checkout-email lazada-icon address-icon"></span>#}
{#                        <span class="input-field-item-value">araf.reputation1999@gmail.com</span>#}
{#                    </div>#}
{#                </div><a href="#" class="input-field-edit">EDIT</a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="summary-section">#}
{#            <div class="summary-section-heading">#}
{#                Order Summary#}
{#            </div>#}
{#            <div class="summary-section-content">#}
{#                <div class="  checkout-summary">#}
{#                    <div class="checkout-summary-rows">#}
{#                        <div class="checkout-summary-row">#}
{#                            <div class="checkout-summary-main">#}
{#                                <div class="checkout-summary-label">#}
{#                                    Subtotal (1 Items)#}
{#                                </div>#}
{#                                <div class="checkout-summary-value">#}
{#                                    <span class="checkout-summary-noline-value">৳ 450</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkout-summary-row">#}
{#                            <div class="checkout-summary-main">#}
{#                                <div class="checkout-summary-label">Shipping Fee#}
{#                                </div>#}
{#                                <div class="checkout-summary-value">#}
{#                                    <span class="checkout-summary-noline-value">৳ 65</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="voucher-input">#}
{#                        <div class="voucher-input-inner">#}
{#                            <div class="voucher-input-col">#}
{#                                <span class="next-input next-input-single next-input-medium clear voucher-input-control">#}
{#                                    <input type="text" id="automation-voucher-input" placeholder="Enter Voucher Code" value="" height="100%">#}
{#                                </span>#}
{#                            </div>#}
{#                            <div class="voucher-input-col"><button id="automation-voucher-input-button" type="button" class="next-btn next-btn-normal next-btn-large voucher-input-button">APPLY</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class=" checkout-order-total">#}
{#                        <div class="checkout-order-total-row">#}
{#                            <div class="checkout-order-total-title">Total:#}
{#                            </div>#}
{#                            <div class="checkout-order-total-fee">৳ 515<small class="checkout-order-total-fee-tip">#}
{#                                VAT included, where applicable</small>#}
{#                            </div>#}
{#                        </div>#}
{#                        <button type="button" class="next-btn next-btn-primary next-btn-large checkout-order-total-button automation-checkout-order-total-button-button">Proceed to Pay</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
{#               </div>#}
{#           </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<br>#}
{#<br>#}
{#<br>#}
{#<br>#}
{#    <nav class="one-edge-shadow">#}
{#    <div class="lzd-logo-bar" data-spm-anchor-id="a2a0e.home.header.i0.73524591JR33Hb">#}
{#            <div class="logo-bar-content header-content">#}
{##}
{#                <div class="lzd-logo-content"><a href="//www.daraz.com.bd/" data-spm="dhome"><img src="//laz-img-cdn.alicdn.com/images/ims-web/TB1HOIkg3ZC2uNjSZFnXXaxZpXa.png" alt=""></a></div>#}
{##}
{#              <div class="lzd-nav-search" data-spm="search"><form action="//www.daraz.com.bd/catalog/" method="GET" autocomplete="off"><div class="search-box--2I2a"><div class="search-box__bar--29h6"><input type="search" id="q" name="q" placeholder="Search in Daraz" class="search-box__input--O34g" tabindex="1" value="" data-spm-anchor-id="a2a0e.home.search.i0.73524591JR33Hb"><input type="hidden" name="_keyori" value="ss"><input type="hidden" name="from" value="input"><input type="hidden" name="spm" value="a2a0e.home.search.go.73524591JR33Hb"></div><div class="search-box__search--2fC5"><button class="search-box__button--1oH7" tabindex="2" data-spm-click="gostr=/lzdpub.header.search;locaid=d_go">SEARCH</button></div><div class="search-box__popup--3Pf1"></div></div></form></div>#}
{#              <div class="lzd-nav-cart">#}
{#                <a href="//cart.daraz.com.bd/cart?scm=1003.4.icms-zebra-100022782-2872099.OTHER_5410630461_2521613" data-spm="dcart">#}
{#                  <span class="cart-icon">#}
{#                    <svg width="25px" height="22px" viewBox="0 0 25 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">#}
{#                      <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->#}
{#                      <title>cart</title>#}
{#                      <desc>Created with Sketch.</desc>#}
{#                      <defs>#}
{#                          <polyline id="path-1" points="0 0.00306976744 24.7219388 0.00306976744 24.7219388 22 0 22"></polyline>#}
{#                          <polyline id="path-3" points="0 0.00306976744 24.7219388 0.00306976744 24.7219388 22 0 22"></polyline>#}
{#                      </defs>#}
{#                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
{#                          <g id="cart">#}
{#                              <g id="icon-cart">#}
{#                                  <path d="M0,0.00312093023 L0,2.04963256 L3.26734694,2.04963256 L7.77397959,15.2665163 L23.1602041,15.2665163 L24.7214286,4.61749302 L5.75561224,3.02070233 L4.72602041,0.00312093023 L0,0.00312093023 Z M6.47653061,5.13526047 L22.3872449,6.47470233 L21.397449,13.2200047 L9.23265306,13.2200047 L6.47653061,5.13526047 Z" id="Fill-1" fill="#212121" fill-rule="nonzero"></path>#}
{#                                  <g id="Group-8">#}
{#                                      <g id="Group-4">#}
{#                                          <g id="Fill-2-Clipped">#}
{#                                              <mask id="mask-2" fill="white">#}
{#                                                  <use xlink:href="#path-1"></use>#}
{#                                              </mask>#}
{#                                              <g id="path-1"></g>#}
{#                                              <path d="M10.9269388,19.8042465 C10.9269388,21.0168047 9.94683673,22.0001535 8.73714286,22.0001535 C7.52795918,22.0001535 6.54785714,21.0168047 6.54785714,19.8042465 C6.54785714,18.5916884 7.52795918,17.6083395 8.73714286,17.6083395 C9.94683673,17.6083395 10.9269388,18.5916884 10.9269388,19.8042465" id="Fill-2" fill="#212121" fill-rule="nonzero" mask="url(#mask-2)"></path>#}
{#                                          </g>#}
{#                                      </g>#}
{#                                      <g id="Group-7">#}
{#                                          <g id="Fill-5-Clipped">#}
{#                                              <mask id="mask-4" fill="white">#}
{#                                                  <use xlink:href="#path-3"></use>#}
{#                                              </mask>#}
{#                                              <g id="path-3"></g>#}
{#                                              <path d="M24.3623469,19.8042465 C24.3623469,21.0168047 23.3822449,22.0001535 22.172551,22.0001535 C20.9633673,22.0001535 19.9832653,21.0168047 19.9832653,19.8042465 C19.9832653,18.5916884 20.9633673,17.6083395 22.172551,17.6083395 C23.3822449,17.6083395 24.3623469,18.5916884 24.3623469,19.8042465" id="Fill-5" fill="#212121" fill-rule="nonzero" mask="url(#mask-4)"></path>#}
{#                                          </g>#}
{#                                      </g>#}
{#                                  </g>#}
{#                              </g>#}
{#                          </g>#}
{#                      </g>#}
{#                    </svg>#}
{#                  </span>#}
{#                  <span class="cart-num" id="topActionCartNumber">3</span>#}
{#                </a>#}
{#              </div>#}
{##}
{##}
{##}
{##}
{#                <div class="lzd-header-banner" id="topActionLiveUpBanner">#}
{##}
{#                  <a id="topActionEWallet" class="lzd-header-banner-ewallet" href="//www.daraz.com.bd/mobile-apps/" target="_blank" data-spm="dewallet" style="display: inline;"><img src="//laz-img-cdn.alicdn.com/images/ims-web/TB1NaLBtO_1gK0jSZFqXXcpaXXa.png" alt="Voucher"></a>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{#          </div>#}
{#    </nav>#}
</div>
    <br>
{% endblock %}