{% extends 'base.html' %}
{% load custom_filter %}
{% load static %}
{% block content %}
    <br>
<div class="paymentsystem">
<br>
<br>
<br>
<br>
<br>
<br>
	<div class="container">
			<div class="row">
{#                <form method="POST">#}
			<a href="/home/pay_card">

{#                    {% csrf_token %}#}
{#                    <input hidden type="text" name='choice' value='card'>#}
{#                    <input hidden type="submit">#}

			    <div class="card1">
			     <i class="fa fa-credit-card" style="font-size:36px"></i>
			      <p> Pay with Credit Card </p>
			  
			    </div>
			    </a>
                <a href="/home/pay_bkash">
{#                    #}
{#                    {% csrf_token %}#}
{#                    <input hidden type="text" name='choice' value='bkash' required>#}
{#                    <input hidden type="submit">#}
{#                #}
			    <div class="card1">
			     <i class="fa fa-credit-card" style="font-size:36px"></i>
			      <p> Pay On Bkash</p>

			    </div>
			    </a>
{#                <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>#}


			  
{#			<a onclick="document.getElementById('id01').style.display='block'" style="width:auto;">#}
               <a href="/home/cash_on_delivery">

{#                    {% csrf_token %}#}
{#                    <input hidden type="submit" name='choice' value='cash'>#}
{#                    <input type="submit">#}

			    <div class="card2">
			      <i class="fa fa-money" style="font-size:36px"></i>
			      <p>Cash on delivery</p>
			     
			    </div>
			    </a>

			</div>
{#    <div id="id01" class="modal mt-3">#}
{##}
{#                  <form class="modal-content animate" action="" method="post">#}
{##}
{#                    <div class="button">#}
{#                      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>#}
{#                      <button  type="submit" class="btn" style="background-color: #ff5722"><a style="color: #0b2e13" href="#">Confirn order</a> </button>#}
{#                    </div>#}
{##}
{##}
{##}
{##}
{##}
{#                    <div class="container" style="background-color:#c43a25">#}
{#                      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>#}
{##}
{#                    </div>#}
{#                  </form>#}
{#                </div>#}


{#            <button class="btn1" type="submit" style="background-color: #ff5722"><a style="color: #0b2e13;font-family: 'Arial Black'" href="#">Confirm Order</a> </button>#}
{#       #}
{#        </form>#}


	 </div>

</div>

<script>

var modal = document.getElementById('id01');


window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>




{% endblock %}